.main-conteiner-product{
    display: flex;
    flex-direction: row;
    background-color: #e8dff8;
}
.search-bar{
    width: 22%;
    margin-top: 44px;
}
.conteiner-list-products{
    width: 70%;
    margin: auto;
}
.button-search{
    margin-left: 10px;
}
.conteiner-checkbox{
    display: flex;
    flex-direction: column;
    text-align: center;
}