.footer-container {
  width: 100%;
  height: 220px;
  background-color: #53416ee7;
  padding-top: 40px;
  display: flex;
  justify-content: center;
  padding-bottom:  30px;
}
a{
  text-decoration: none !important;
}
.conteiner-items-footer {
  width: 100%;
  margin: 0 !important;
  margin: auto !important;
  text-align: center;
  justify-content: center !important;
  align-items: center;
}
.analu-footer {
  color: #e7e7e7;
  font-size: 33px;
}

.tex-a {
  color: #e7e7e7;
  text-decoration: none;
  font-size: 25px;
}
.tel-wp {
  font-size: 20px;
  color: #e7e7e7;
}
.img-wp {
  margin-bottom: 10px;
  margin-right: 10px;
}
.tel {
  font-size: 20px;
  color: #e7e7e7;
}
.img-tel {
  margin-bottom: 10px;
  margin-right: 10px;
}
.svg-mail {
  color: #d11a1a;
}
.text-mail {
  font-size: 20px;
  color: #e7e7e7;
  margin-bottom: 10px;
  margin-left: 10px;
}
.text-instagram {
  font-size: 20px;
  color: #e7e7e7;
  margin-bottom: 10px;
  margin-left: 10px;
}
.col2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.col1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.col3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}