.button-search{
    margin-left: 10px;
}
.conteiner-checkbox{
    display: flex;
    flex-direction: column;
    text-align: center;
   
}
.search-bar{
    width: 22%;
    margin-top: 44px;
}
.item-checkbox{
    width: 100%;
    display: flex;
    margin-left: 5px;
    align-items: center;
}
.item-checkbox label{
    font-family: cursive;
    font-size: 20px;
    margin-left: 20px;
    
}